.hero-container{
    background: url('../../Images//header-image.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#hero-btn{
    background-color: transparent;
    border: 2px solid orange;
}