.boxes-container{
    width: 1200px
}

.box-right{
    margin-right: 80px;
}

.box-left{
    margin-left: 80px;
}

.pricing-section button{
    color: #000;
    background-color: transparent;
    border: 2px solid orange;
}
.pricing-section button:hover{
    color: #fff;
    background-color: black;
}