.nav-link{
    margin: 10px;
}


.logo{
    width: 100px;
    height: 250px
}
#navbar{
    background-color: #0284c7 !important;
}

#menu-btn{
    background-color: transparent;
    border: 2px solid orange;
}